# data
data/raw/*
!data/raw/.gitkeep
*.duckdb
pulse-db*.db

# java
target/

# node
node_modules/
.angular/

# python
__pycache__/
.venv/
.pytest_cache/

# env
.env

# secrets (explicit)
backend/.env
*/.env
.env.local
